* {
  font-family: Helvetica;
}
a, * a{
  color: #d71;
  text-decoration: none;
}
a:hover, * a:hover{
  color: #fa2;
  text-decoration: none;
}
ul {
  padding: 0;
}
li {
  list-style:none;
  padding: 0;
}
h3,h4 {
  margin-top: 5px;
}
html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#wrapper {
   min-height:100%;
   position:relative;
}
header {
   padding:10px;
   border-bottom: 2px solid #c60
}
#container {
   padding:0px;
   padding-bottom: 50px;   /* Height of the footer */
   margin: 0 auto;
   width: 80%;
}
#main-table {
  width: 100%;
}
#sidebar-td {
  width: 30%;
  vertical-align: top;
}
#sidebar {
  width: 75%;
  margin: 5%;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 5%;
}
#content-td {
  width: 70%;
}
#content {
  width: 90%;
  margin: 2%;
}
footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:30px;   /* Height of the footer */
   background:#c60;
   text-align: center;
   padding-top: 10px;
   color: white;
}
.a-form input {
  display: block;
}
.registration-form input[type=radio] {
  display: inline-block;
}

input[type=checkbox] {
  display: inline-block;
}

input, select, textarea {
  color:#d61;
}

input[type=submit] {
  background-color: #e71;
  border: none;
  border-radius: 5px;
  padding: 3px 10px;
  font-size: 10pt;
  color: white;
}

.count {
  width: 30px !important;
  display: inline-block !important;
}

select {
  display: block;
}

.service-form select , .service-form input {
  display: inline-block;
}

.service-form input[type=submit] {
  display: block;
}

.district-remove-form, .district-remove-form input {
  display: inline-block;
}

input.hour {
  display: inline-block;
}

.box {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 3%;
  margin-bottom: 15px;
}

.box li {
  padding: 10px 0px;
  border-bottom: 1px solid #eee;
}
.box li:last-child {
  border-bottom: none;
}

.x-button {
  background-color: #ddd !important;
  color: white;
  width: 24px;
  margin-left:3px;
  border-radius: 24px !important;
  display: inline !important;
}

.green { background-color: #9c8 !important;}
.red { background-color: #c98 !important;}

.available-form, .io-restaurant, .rankrange {
  display: inline-block !important;
}

.pitem {
  display: block;
}

.pitem select {
  width: 200px;
  display: inline-block !important;
}

.rank {
  color: white;
  border-radius: 5px;
  padding: 3px 10px;
  font-size: 9pt;
}
.no-rank { background-color: #ccc; }
.rank-1 { background-color: #da3; }
.rank-2 { background-color: #cb3; }
.rank-3 { background-color: #cc3; }
.rank-4 { background-color: #bc3; }
.rank-5 { background-color: #ad3; }
